.variant-card protvista-manager {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-areas: ". navigation" ". sequence" "filter variation" "protvista-button protvista-button" "datatable datatable";
}

protvista-navigation {
  grid-area: navigation;
}

protvista-sequence {
  grid-area: sequence;
}

.protvista-filter-section {
  grid-area: filter;
  height: 260px;
  overflow-y: auto;
}

.protvista-button-section {
  grid-area: protvista-button;
  text-align: right;
}

protvista-datatable {
  margin-bottom: 1rem;
  grid-area: datatable;
}

protvista-variation {
  grid-area: variation;
}

protvista-datatable {
  --protvista-datable__header-background: #a31d5f;
  --protvista-datable__header-text: #ffffff;
}
