protvista-manager {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "datatable datatable" ". navigation" ". sequence" "filter variation";
}

protvista-navigation {
  grid-area: navigation;
}

protvista-sequence {
  grid-area: sequence;
}

protvista-filter {
  grid-area: filter;
  height: 420px;
  overflow-y: auto;
}

protvista-datatable {
  margin-bottom: 1rem;
  grid-area: datatable;
}

protvista-variation {
  grid-area: variation;
}

protvista-datatable {
  --protvista-datable__header-background: #a31d5f;
  --protvista-datable__header-text: #ffffff;
}
