html,
body,
#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.main-header {
  grid-area: header;
}
.page-header {
  padding: 0 1rem;
  text-align: right;
  background-color: #ffffff;
}
.main-content {
  grid-area: content;
}
.main-footer {
  grid-area: footer;
  text-align: center;
}

.label {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.8rem;
}

.label__reviewed {
  color: white;
  background-color: #c39b00;
}
.label__manual {
  color: black;
  background-color: #c0c0c0;
}

.disabled-text {
  color: #a7a7a7;
}
