.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "pagehead"
    "content"
    "footer";
}

.main-header {
  grid-area: header;
}
.page-header {
  padding: 0 1rem;
  text-align: right;
  grid-area: pagehead;
}
.main-content {
  grid-area: content;
}
.main-footer {
  grid-area: footer;
  text-align: center;
}
