html,
body,
#root {
  width: 100%;
  height: 100%;
}

.page-header {
  padding: 0 1rem;
  text-align: right;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.label {
  float: right;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.8rem;
}

.label__reviewed {
  color: white;
  background-color: #c39b00;
}
.label__manual {
  color: black;
  background-color: #c0c0c0;
}

.disabled-text {
  color: #a7a7a7;
}

.full-width {
  width: 100vw;
  padding: 1rem;
}

.card {
  width: auto;
  margin: 0.5rem;
}

.card__content {
  padding: 0.5rem;
}
