.three-grid {
  display: grid;
  grid-template-rows: 20vh 65vh;
  grid-template-areas:
    "top top"
    "left right";
}

.three-grid__top {
  grid-area: top;
  overflow-y: auto;
}

.three-grid__left {
  grid-area: left;
  overflow-y: auto;
}

.three-grid__right {
  grid-area: right;
  overflow-y: auto;
}
